<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>検索画面</title>
</head>
<body>
    <form action="/select" method="post" enctype="multipart/form-data">
        <p>検索条件を指定することで検索もしくは削除が可能です。</p>
        <p>テーブル名：　　{{selectbox | safe}}</p>
        <p>PartitionKey: <input type="text" name="partitionkey" size="10"></input></p>
        <p>RowKey:　　 <input type="text" name="rowkey" size="10"></input></p>
        <p><input type="submit" name = "search" value="検索"/>　　<input type="submit" name = "delete" value="削除"/></p>
    </form>
    {{content | safe}}
    <br />
    <a href = "/">トップページへ</a>
</body>
</html>