<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileUploadSample</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <p>読込対象ファイルを選択して下さい。</p>
        <p>ファイル名はテーブル名と同一としてください。</p>
        <p><input type="file" name="uploadFile" required></p>
        <p><input type="submit" value="読込"/></p>
        <div id = "content">{{content}}</div>
    </form>
    <br />
    <a href = "/">トップページへ</a>
</body>
</html>